.d-item {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: var(--surface-0);

    .pi {
        font-size: 4em;
        margin-bottom: 15px;
    }

    .name {
        margin-left: 10px;
        font-size: 1.4em;
    }

    .number {
        margin: 50px;
        font-size: 2.5em;
    }
}

.d-orders {
    background-color: #fad961;
    background-image: linear-gradient(45deg, #fad961 0%, #f76b1c 100%);
}

.d-products {
    background-color: #fbda61;
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.d-users {
    background-color: #ff7de4;
    background-image: linear-gradient(45deg, #ff7de4 0%, #1bd4aa 100%);
}

.d-totalsales {
    background-color: #74ebd5;
    background-image: linear-gradient(45deg, #74ebd5 0%, #9face6 100%);
}
