header {
    margin-bottom: 30px;

    .logo {
        img {
            width: 160px;
        }
    }

    .navigation,
    .tools {
        padding-top: 50px;
    }

    .search {
        padding-top: 45px;
    }

    .navigation {
      font-size: 1.2em;
    }

    .tools {
        .pi {
            margin-right: 15px;
            font-size: 1.4em;
            color: var(--primary-400);
        }
    }

    .button {
        &-profile:hover {
            color: $primary-color;
            cursor: pointer;
        }

        &-cart:hover {
            color: $primary-color;
            cursor: pointer;
        }
    }
}
